@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
* {
  outline: none;
}

body {
  font-family: 'Lato', sans-serif;
  background: rgb(165,242,244);
  background: radial-gradient(circle, rgba(165,242,244,1) 0%, rgba(56,163,165,1) 100%);
  align-items: center;
  justify-content: center;
  display: flex;
}

